.nav {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 15vh;
    z-index: 1000;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    padding-right: 5rem;
}

.navPages {
    display: flex;
    gap: 1rem;
    align-items: center;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.navPages a li {
    font-weight: 400;
    padding: 15px 40px;
    transition: .2s background-color;
}

.navPages a li:hover {
    background-color: rgb(61, 61, 61);
    border-bottom: white 2px solid;
}

.navPages > li:first-child {
    padding: 0 30px;
    cursor: inherit;
}

.navLogin button {
    font-weight: bold;
    color: inherit;
    background-color: transparent;
    padding: 20px 30px;
    border: none;
    border-radius: 20px;
    transition: .3s background-color, .3s color;
}

.navLogin button:hover {
    background-color: white;
    color: black;
}

.navSeparator {
    width: 2px;
    height: 50px;
    background-color: white;
}

.navLogoUTA {
    width: 50px;
    height: 50px;
}

.navPageActive li {
    background-color: rgb(61, 61, 61);
    border-bottom: white 2px solid;
}