@import './_auth.css';
@import './_candidatos.css';
@import './_user.css';
@import './_home.css';
@import './_sugerencia.css';
@import './_eventos.css';

main {
    margin-top: 15vh;
}

button {
    cursor: pointer;
}